body {
  font-family: 'Varela Round', sans-serif;
  box-sizing: border-box;
  height: 100vh;
}

h2 {
  text-align: center;
}

section {
  width: 40vw;
}

.content {
  display: flex;
  margin: 3rem;
  justify-content: space-around;
}

.refresh-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn:hover {
  box-shadow: 2px 2px;
}

.btn {
  background-color: white;
  margin-right: 1rem;
  width: 5rem;
  cursor: pointer;
}

.black-border {
  border: 2px solid black;
}

form {
  display: flex;
  flex-direction: column;
}

.submit-btn {
  margin-left: auto;
}

.form-input {
  margin: 10px;
}

.dark-bg {
  background-color: rgb(218, 218, 218);
}

.scores {
  list-style-type: none;
  padding: 1px;
  margin: 1px;
}

.score p {
  margin: 1px;
  padding: 1px 10px 1px 1px;
  font-family: 'Courier New', Courier, monospace;
}

.score {
  display: flex;
  justify-content: space-between;
  padding: 1px;
}

.liName {
  width: 3rem;
}

#toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
